nav.navbar-default {
    background-color: #2E3840;
    -webkit-box-shadow: 0 1px 2px rgba(68, 129, 166, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(68, 129, 166, 0.5);
    box-shadow: 0 1px 2px rgba(68, 129, 166, 0.5);
}

nav.navbar-default .navbar-brand {
    color: #fff;
}

nav.navbar-default .navbar-brand i {
    color: #589FBF;
}

nav.navbar-default .navbar-nav > li > a {
    color: #ccc;
    text-transform: uppercase;
}
nav.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

a.navbar-brand:after {
    content: "";
    display: block;
    width: 5px;
    background: #589FBF;
    height: 20px;
    position: absolute;
    left: 150px;
}