<nav class="sticky-top navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fa fa-fw fa-foursquare"></i> ff-fabric</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-4"><a class="nav-link" [routerLink]="['']">Neu</a></li>
      <li class="nav-item mr-4"><a class="nav-link" [routerLink]="['']">Laden</a></li>
      <li class="nav-item mr-4"><a class="nav-link" [routerLink]="['']">Einstellungen</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item mr-4">
        <a class="nav-link" href="https://github.com/famousframes/ff-fabric" target="_blank">
          <i class="fa fa-fw fa-github"></i> GitHub
        </a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" [routerLink]="['']">
          <i class="fa fa-fw fa-question-circle-o"></i> Hilfe
        </a>
      </li>
    </ul>
  </div>
</nav>
