<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-fw fa-foursquare"></i> ff-fabric</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['']">Neu</a></li>
      <li><a [routerLink]="['']">Laden</a></li>
      <li><a [routerLink]="['']">Einstellungen</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['']">Hilfe</a></li>
    </ul>
  </div>
</nav>
